* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Dogica', 'Courier New', Courier, monospace;
}

@font-face {
  font-family: Dogica;
  src: url(../fonts/Dogica.ttf);
}

@font-face {
  font-family: PixelMix;
  src: url(../fonts/pixelmix.ttf);
}

body {
  background: linear-gradient(90deg, rgba(66,62,79,1) 0%, rgba(90,84,115,1) 36%, rgba(91,89,112,1) 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 10vh;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.30);
  position: relative;
}

nav li {
  display: inline;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  transition: 0.5s;
}

nav a:hover {
  background-color: black;
  padding: 5px;
  transition: 0.5s;
}

#home {
  height: 90vh;
  background-image: url(../img/parallax-mountain.png);
  background-size: cover;
  background-position: center;
  text-align: center;
}

h2,
h3 {
  position: relative;
  top: 33%;
  text-shadow: 3px 3px 10px black;
  line-height: 1.5;
}

h2 {
  text-transform: uppercase;
  font-size: 400%;
  margin-bottom: 20px;
}

.content {
  margin: 10% 25%;
  display: flex;
}

.heading {
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
}

.divider {
  border-left: 5px solid #353141;
  margin: 0 5%;
}

.content p {
  font-family: PixelMix, 'Courier New', Courier, monospace;
  line-height: 1.5;
  margin: 5% 0;
  text-indent: 50px;
}

/* place heading on right side and content on left */
#work {
  display: flex;
  flex-direction: row-reverse;
  height: 80vh;
}

.work-img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5% 0;
}

/* target first project */
.work-img div:nth-child(1) {
  height: calc(50% - 20px);
  width: calc(90% + 10px);
}

/* target projects after first proj */
.work-img div:nth-child(n+2) {
  height: 25%;
  width: 45%;
}

.proj {
  border: 5px solid #353141;
  box-sizing: border-box;
}

.proj img {
  height: 100%;
  width: 100%;
  filter: brightness(0.75);
  transition: 0.5s;
}

.proj img:hover {
  filter: brightness(1);
  transition: 0.5s;
}

.proj-title {
  background-color: #353141;
  padding: 10px;
  position: relative;
  bottom: 30%;
  line-height: 2;
}

/* increase font size on first proj card */
#first {
  font-size: 200%;
}

.contact-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* set size of <a> around icons */
#linkedin,
#github {
  width: 25%;
  height: auto;
}

#email {
  width: 10%;
  height: auto;
}

/* set icon to match <a> size */
.icon {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.icon:hover {
  transition: 0.5s;
  filter: invert(97%) sepia(69%) saturate(0%) hue-rotate(284deg) brightness(117%) contrast(100%);
}

#avatar {
  width: 200px;
  height: auto;
  position: fixed;
  right: 0;
  bottom: -50px;
  opacity: 0.5;
  transition: 0.5s;
}

/* create invisible tooltip */
.tooltip {
  opacity: 0;
  background-color: #f5f4d9;
  color: black;
  font-family: PixelMix, 'Courier New', Courier, monospace;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid black;
  position: fixed;
  right: 160px;
  bottom: 50px;
  transition: 0.5s;
}

#avatar:hover {
  bottom: 0;
  opacity: 1;
  transition: 0.5s;
}

/* reveal tooltip when hovering sibling link */
a:hover + .tooltip {
  bottom: 100px;
  opacity: 1;
  transition: 0.5s;
}

/* make proj titles smaller when window is smaller */
@media screen and (max-width: 1622px) {
  .proj-title {
    font-size: 75%;
  }
}

@media screen and (max-width: 735px) {

  header {
    flex-direction: column;
    padding: 25px 0;
  }

  .content {
    flex-direction: column;
    margin: 10% 5%;
  }

  .heading {
    writing-mode: horizontal-tb;
    font-size: 175%;
  }

  .divider {
    border-left: 0;
    border-top: 5px solid #353141;
    margin: 5% 0;
  }

  #work {
    flex-direction: column;
  }

  .work-img {
    justify-content: center;
  }

  #first {
    font-size: 150%;
  }

  .proj-title {
    font-size: 48%;
    line-height: 2;
  }

  /* prevent contact section from disappearing 
  under work section */
  #contact {
    margin-top: 300px;
  }

  .resume {
    text-align: center;
  }

  #avatar {
    position: static;
    width: 100px;
    height: auto;
  }
}

/* reset margin offset */
@media screen and (max-width: 550px) {
  #contact {
    margin-top: 0;
  }
}